button {
  position: relative;

  &.red {
    background-color: red;
    color: white;
  }

  &.green {
    background-color: green;
    color: white;
  }

  &.blue {
    background-color: #53539c;
    color: white;
  }

  &.yellow {
    background-color: yellow;
    color: white;
    font-weight: bold;
    font-size: 40px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
