<ul class="todo__list">
  <li class="todo__item task"
      (click)="emitTask(task)"
      (dblclick)="onEdit(task)"
      [ngClass]="{
          selected: task.selected,
          completed: task.status?.completed,
          'in-proggress': this.task.status?.inProgress,
        }"
  >
    <p class="task__text">{{task.text}}</p>
    <div class="task__actions">
      <app-button
        [color]="'blue'"
        appTooltip="Описание таска"
        [routerLink]="[task.id]"
      >View
      </app-button>
      <app-button
        [color]="'red'"
        (click)="deleteTask(task.id)"
        appTooltip="Удалить таск"
      >Delete
      </app-button>
    </div>
  </li>
</ul>

