  <ul class="todo__list">
    <li class="todo__item task"
        (click)="emitTask(task)"
        (dblclick)="onEdit(task)"
        [ngClass]="{
          selected: task.selected,
          completed: task.status?.completed,
          'in-proggress': this.task.status?.inProgress,
        }"
    >
      <p class="task__text">{{task.text}}</p>
      <app-button
        [color]="'red'"
        (click)="deleteTask(task.id)"
      appTooltip="Удалить таск"
    >Delete</app-button>
    </li>
  </ul>

