<div class="todo">
  <h1 class="todo__title">Todo List</h1>
  <ul class="todo__list">
    <li class="todo__item task">
      <p class="task__text">sdfdsfsd</p>
      <button class="task__btn">Delete</button>
    </li>
    <li class="todo__item task">
      <p class="task__text">sdfdsfsd</p>
      <button class="task__btn">Delete</button>
    </li>
  </ul>
  <div class="todo__actions action">
    <input  class="action__text" type="text" placeholder="Add your new todo">
    <button class="action__btn">Add task</button>
  </div>
</div>
