<div class="modal-wrapper">
  <form class="modal" [formGroup]="formModal">
    <input type="text" formControlName="title">
    <mat-radio-group aria-label="Select an option" formControlName="status">
      <mat-radio-button value="Completed" >Completed</mat-radio-button>
      <mat-radio-button value="InProggress">In Proggress</mat-radio-button>
    </mat-radio-group>
    <div class="actions">
      <app-button
        [color]="'green'"
        (click)="onEditTitle()"
      >edit
      </app-button>
      <app-button
        (click)="modalServ.close()"
        [color]="'red'"
      >cancel
      </app-button>
    </div>
  </form>
</div>
