<form class="todo__actions action" [formGroup]="formTodo">
  <input  class="action__text-title"
          type="text"
          placeholder="Add your new todo"
          formControlName="title"
  >
  <textarea class="action__text-description"
            placeholder="Add description"
            formControlName="description"
  ></textarea>
  <app-button
    [color]="'green'"
    [disableButton]="formTodo.invalid"
    (click)="addTask()"
    appTooltip="Добавить таск"
  >Add Task</app-button>
</form>
