<div class="task">
  <button (click)="onClose()">X</button>
  <label>таск:</label>
  <p class="task__title">{{task?.text}}</p>
  <label>Описание таска:</label>
  <p class="task__title">{{task?.description}}</p>
  <label *ngIf="task?.status">Статус таска:</label>
  <p *ngIf="task?.status?.completed" class="task__title">{{'выполнен'}}</p>
  <p *ngIf="task?.status?.inProgress" class="task__title">{{'в процессе'}}</p>
  <p *ngIf="!task?.status?.inProgress && !task?.status?.completed" class="task__title">{{'не выбран статус'}}</p>
</div>
