.task {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30vw;
  background: #ab77dc;
  border-radius: 20px;
  padding: 20px;

  &__title {
    font-weight: bold;
  }

  label {
    text-decoration: underline;
  }

  button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 40px;
    color: red;
  }
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
